.builders-page{
    padding-top: 130px;
  }
  
  .builderstitle{
    background-color: #c2bf05;
    color: lightgrey;
    top: 0;
    left:0;
    right:0;
    height: 70px;
    position: fixed;
    z-index: 100;
  }
  
  .builderstitle h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font: Helvetica;
    font-style: normal;
    font-stretch: normal;
  }
  
  .builders-deals-card{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
  }
  
  .product-box{
    border: 1px;
    border-style: solid ;
    border-color: #aca8aa;
  }

  .product-name{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 15px;
  }
  
  .save-price{
    color: red;
  }