.woolies-page{
  padding-top: 130px;
}

.wooliestitle{
  background-color: #0a061a;
  color: lightgrey;
  top: 0;
  left:0;
  right:0;
  height: 70px;
  position: fixed;
  z-index: 100;
}

.wooliestitle h1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font: Helvetica;
  font-style: normal;
  font-stretch: normal;
}

.woolies-deals-card{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

.product-box{
  border: 1px;
  border-style: solid ;
  border-color: #aca8aa;
}

.product-info{
  display: flex;
}

.product-name{
  height: 45px;
}

.img-info{
  padding-left: 40px;
}

.productimg{
  width: 200px;
}

.promo-info{
  margin: 0 auto;
  text-align: center;
  font: Arial;
  font-size: 18px;
  font-weight: bold;
  color: rgb(207, 28, 28);
}

.org-price{
  font-size: 25px;
  font-weight: 500;
}


